  /*jennie*/
               .jennie{
                padding: 4px;
                margin-top: 8px;
                margin-bottom: 6px;
            }
            h1.jennie{
               background-color: azure;
                font-size: 50px;
                font-family: "Merienda", cursive;
                text-align: center;
            }
            section p.jennie{
               background-color: aliceblue;
               padding-left: 30px;
               padding-right: 30px;
                font-size: 35px;
                text-align: center;
            }
            .sidebar .jennie{
               background: rgb(249, 246, 246);
               opacity: 95%;
            }
             .sidebar p.jennie{
               line-height: 1.6;
                font-size: 25px;
                 font-family: "Gluten", cursive;
                 margin-top: 10px;
                 text-align: center;
             }
             img.jennie{
                width: 350px;
                margin-left: 45px;
             }
             header.jennie{
               color: rgb(6, 6, 6);
                font-size: 40px;
                text-align: center;
             }
             h2.jennie{
               color: rgb(6, 6, 6);
                font-size: 50px;
                text-align: center;
                font-family: "Rubik Wet Paint", system-ui;
             }
            
             
    